* {
    margin: 0;
    padding: 0;
  }
  
body {
      font-family: sans-serif;
      color: aliceblue;
      text-align: center;
      background-color: #01031b;
}

li {
    display: inline-block;  
    flex-direction: row;
    justify-content: space-between;
}

.actualPage {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: aliceblue;
}


a:hover {
    text-decoration: none;
    transform: scale(1.1,1.1);
    color: #D1CCC1;
}

.socialLink {
    text-decoration: none;
    color: #DB6F20;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 144px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 60px;
    font-size: 50px;
}

h3 {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    font-size: 18px;
}

h4 {
    margin-top: 70px;
}

i {
    margin-left: 15px;
    margin-right: 15px;
    color: #DB6F20;
}

i:hover {
    color: #8f4917;
    transform: scale(1.1,1.1);
}

.footer {
    margin-top: 30px;
}

html {
    scroll-behavior: smooth;
}

.mainMenu {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 50px;
}

.inPageLink {
    color: #DB6F20;
}

.inPageLink:hover {
    color: #d17f21;
    transform: scale(1.1,1.1);
}

.borders {
    border: 1px solid #DB6F20;
}

.imageBackground {
    display: flex;
    justify-content: center;
    border-top: 2px solid #DB6F20;
    border-bottom: 2px solid #DB6F20;
    background-image: url(https://www.anaitgames.com/wp-content/uploads/2022/04/outer-wilds.jpg);
    background-size:cover;
    background-attachment: fixed;
    padding: 150px;
}

.parallaxText {
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-text-stroke: 1px black;
    -webkit-font-smoothing: antialiased;
    text-decoration: solid;
    font-family: sans-serif;
    font-size: 55px;
}

.titleHeader {
    text-align: center;
    margin-top: 20px;
}

td {
    text-align: left;
    list-style-type: disc;
    font-size: 18px;
    padding: 10px;
}

tr {
    border: 1px solid #DB6F20;
}

audio {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}

table {
    border: 4px solid #DB6F20;
}

.fixJobs {
    margin: 40px;
    font-size: 25px;
    text-align: justify;
}

.fixJobs_Center {
    font-size: 28px;
    text-align: center;
}

.buttonColor {
    background-color: #ee7a27;
}

.buttonColorActive {
    background-color: #db6f22;
}