* {
    margin: 0;
    padding: 0;
  }
  
body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, 0.2fr);
      grid-template-areas:
      "header header header"
      "div div div"
      "trailer trailer trailer"
      "accolades accolades accolades"
      "gallery gallery gallery"
      "footer footer footer";
      font-family: sans-serif;
      color: aliceblue;
      text-align: center;
      background-color: #01031b;
}

header {
    grid-area: header;
    
}

div {
    grid-area: div;
}
footer {
    grid-area: footer;
    margin-top: 100px;
}

section#trailer {
    grid-area: trailer;
}

section#accolades {
    grid-area: accolades;
}

section#gallery {
    grid-area: gallery;
}

section#mobiusTeam {
    grid-area: mobius;
}

section#company {
    grid-area: company;
}

section#availability {
    grid-area: availability;
}

section#contacts {
    grid-area: contacts;
}
article {
    grid-area: article;
}

body.news {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.2fr);
    grid-template-areas:
    "header header header"
    "article article article"
    "footer footer footer";
}

body.team {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.2fr);
    grid-template-areas:
    "header header header"
    "mobius mobius mobius"
    "footer footer footer";
}

body.jobs {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.2fr);
    grid-template-areas:
    "header header header"
    "company company company"
    "availability availability availability"
    "footer footer footer";
}

body.contact {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.2fr);
    grid-template-areas:
    "header header header"
    "contacts contacts contacts"
    "footer footer footer";
}

nav {
    display: flex;
    justify-content: center;
    background-color: #e96a15;
    color: aliceblue;
    font-size: 50px;
    list-style: none;
    padding: 5px;
}


li {
    display: inline-block;  
    flex-direction: row;
    justify-content: space-between;
}

.actualPage {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: aliceblue;
}


a:hover {
    text-decoration: none;
    transform: scale(1.1,1.1);
    color: #D1CCC1;
}

.socialLink {
    text-decoration: none;
    color: #DB6F20;
}

h1 {
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    font-size: 144px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 60px;
    font-size: 50px;
}

h3 {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    font-size: 18px;
}

h4 {
    margin-top: 70px;
}

i {
    margin-left: 15px;
    margin-right: 15px;
    color: #DB6F20;
}

i:hover {
    color: #8f4917;
    transform: scale(1.1,1.1);
}

.followUs {
    margin-bottom: 1px;
}

html {
    scroll-behavior: smooth;
}

.mainMenu {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
}

.inPageLink {
    color: #DB6F20;
}

.inPageLink:hover {
    color: #d17f21;
    transform: scale(1.1,1.1);
}

.borders {
    border: 1px solid #DB6F20;
}

.imageBackground {
    display: flex;
    justify-content: center;
    border-top: 2px solid #DB6F20;
    border-bottom: 2px solid #DB6F20;
    background-image: url(https://www.anaitgames.com/wp-content/uploads/2022/04/outer-wilds.jpg);
    background-size:cover;
    background-attachment: fixed;
    padding: 150px;
}

.parallaxText {
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-text-stroke: 1.5px black;
    -webkit-font-smoothing: antialiased;
    text-decoration: solid;
    font-size: 40px;
}

.logo {
    margin-top: 20px;
    margin-bottom: 30px;
}

.titleHeader {
    text-align: center;
    margin-top: 20px;
}

td {
    text-align: left;
    list-style-type: disc;
    font-size: 18px;
    padding: 10px;
}

tr {
    border: 1px solid #DB6F20;
}

audio {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}

table {
    border: 4px solid #DB6F20;
}

.fixJobs {
    margin: 40px;
    font-size: 25px;
    text-align: justify;
}

.fixJobs_Center {
    font-size: 28px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    body {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 0.2fr);
        grid-template-areas:
        "header"
        "div"
        "trailer"
        "accolades"
        "gallery"
        "footer";
    }

    body.news {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header"
        "article"
        "footer";
    }
    
    body.team {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header"
        "mobius"
        "footer";
    }

    body.jobs {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header"
        "company"
        "availability"
        "footer";
    }
    
    body.contact {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 0.2fr);
        grid-template-areas:
        "header"
        "contacts"
        "footer";
    }
    
    header {
        grid-area: header;
        
    }
    
    div {
        grid-area: div;
    }
    footer {
        grid-area: footer;
        margin-top: 100px;
    }
    
    section#trailer {
        grid-area: trailer;
    }
    
    section#accolades {
        grid-area: accolades;
    }
    
    section#gallery {
        grid-area: gallery;
    }

    .mainMenu {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 0.2fr);
        grid-template-areas:
        "header header"
        "div div"
        "trailer trailer"
        "accolades accolades"
        "gallery gallery"
        "footer footer";
    }

    body.news {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header header"
        "article article"
        "footer footer";
    }

    body.team {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header header"
        "mobius mobius"
        "footer footer";
    }
    
    body.jobs {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header header"
        "company company"
        "availability availability"
        "footer footer";
    }
    
    body.contact {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 0.2fr);
        grid-template-areas:
        "header header"
        "contacts contacts"
        "footer footer";
    }

    header {
        grid-area: header;
        
    }
    
    div {
        grid-area: div;
    }
    footer {
        grid-area: footer;
        margin-top: 100px;
    }
    
    section#trailer {
        grid-area: trailer;
    }
    
    section#accolades {
        grid-area: accolades;
    }
    
    section#gallery {
        grid-area: gallery;
    }

    
    .mainMenu {
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 0.2fr);
        grid-template-areas:
        "header header header"
        "div div div"
        "trailer traile trailer"
        "accolades accolades accolades"
        "gallery gallery gallery"
        "footer footer foter";
    }

    body.news {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    }

    body.team {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header header header"
        "mobius mobius mobius"
        "footer footer footer";
    }

    body.jobs {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-areas:
        "header header header"
        "company company company"
        "availability availability availability"
        "footer footer footer";
    }
    
    body.contact {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 0.2fr);
        grid-template-areas:
        "header header header"
        "contacts contacts contacts"
        "footer footer footer";
    }

    header {
        grid-area: header;
        
    }
    
    div {
        grid-area: div;
    }
    footer {
        grid-area: footer;
        margin-top: 100px;
    }
    
    section#trailer {
        grid-area: trailer;
    }
    
    section#accolades {
        grid-area: accolades;
    }
    
    section#gallery {
        grid-area: gallery;
    }
}